.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weatherInfoBox {
  display: flex;
  align-items: center;
  justify-self: center;
}

.dayInfo {
  border: solid 1px black;
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weatherImg {
  width: 50%;
  height: 50%;
}

.min {
  margin-left: 2px;
  color: rgb(160, 160, 160);
}

.max {
  margin-left: 2px;
  color: rgb(70, 30, 30);
}

.contentBody {
  padding: 3%;
  border: solid 1px black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}